/* reseteo universal */
* {
	border: 0;
	margin: 0;
	padding: 0;	
}
article,figcaption, figure, footer, header, hgroup, nav,section{
	display: block;
}
/* hoja de estilos */

body{
	background: #b3b3b3;
	color:#FFF;
	font-family:"Franklin Gothic Book";
	font-size: 1em;		
}
a{
	color: #57ABB8;
	font-weight: bold;
	text-decoration: none;
}
a:hover{
	color: #F60;
}
figcaption{
	font-size: 0.25em;
	padding: 0.25em;
	text-align: center;
}

img, video {
	max-width: 100%;
}
header, section#contenido, footer{
	background: #FFF;
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
}
header h1, nav{
	background: #FFF;
	display: inline-block;
	max-width: 100%
	vertical-align: middle;
}
header img{
	border-radius: 1em;
}
nav ul{
	text-style: none;
}
nav li{
	display: inline-block;
	padding: 0.1em;
	vertical-align: top;
}
nav a{
	background: #FFF;
	border: 0.1em solid #57ABB8;
	border-radius: 0.25em;
	color: #F60;
	display: block;
	font-size: 1.4em;
	padding: 0.2em;
	transition: all 0.5s ease-in;
}
nav a:hover{
	background: #212121;
	border: 0.1em dashed #F60;
	border-radius: 0 0.5em 0 0.5em;
	color: #FFF;
	transition: all 0.5s ease-out;
}
section#principal, aside{
	background: #1E6381;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0 auto;
	max-width: 100%;
	padding: 0.25em;
	vertical-align: top;
	width: 65%;
}
article#galeria-inicio{
	border-radius: 0.5em;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	width: 95%;
}
aside{
	width: 30%;
}
aside img{
	border-radius: 0.5em;
}
footer{
	color: #000;
	font-size: 0.85em;
	padding: 0.75em 0;
}

